body {overflow-x: hidden;}
.container{width: 1170px;}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,.col-xs-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{float:left!important;}
.col-xs-1,.col-sm-1,.col-lg-1,.col-md-1{width:8.33333%!important;}
.col-xs-2,.col-sm-2,.col-lg-2,.col-md-2{width:16.6667%!important;}
.col-xs-3,.col-sm-3,.col-lg-3,.col-md-3{width:25%!important;}
.col-xs-4,.col-sm-4,.col-lg-4,.col-md-4{width:33.3333%!important;}
.col-xs-5,.col-sm-5,.col-lg-5,.col-md-5{width:41.6667%!important;}
.col-xs-6,.col-sm-6,.col-lg-6,.col-md-6{width:50%!important;}
.col-xs-7,.col-sm-7,.col-lg-7,.col-md-7{width:58.3333%!important;}
.col-xs-8,.col-sm-8,.col-lg-8,.col-md-8{width:66.6667%!important;}
.col-xs-9,.col-sm-9,.col-lg-9,.col-md-9{width:75%!important;}
.col-xs-10,.col-sm-10,.col-lg-10,.col-md-10{width:83.3333%!important;}
.col-xs-11,.col-sm-11,.col-lg-11,.col-md-11{width:91.6667%!important;}
.col-xs-12,.col-sm-12,.col-lg-12,.col-md-12{width:100%!important;}
.col-xs-offset-1,.col-sm-offset-1,.col-md-offset-1,.col-lg-offset-1{margin-left:8.33333%!important;}
.col-xs-offset-2,.col-sm-offset-2,.col-md-offset-2,.col-lg-offset-2{margin-left:16.6667%!important;}
.col-xs-offset-3,.col-sm-offset-3,.col-md-offset-3,.col-lg-offset-3{margin-left:25%!important;}
.col-xs-offset-4,.col-sm-offset-4,.col-md-offset-4,.col-lg-offset-4{margin-left:33.3333%!important;}
.col-xs-offset-5,.col-sm-offset-5,.col-md-offset-5,.col-lg-offset-5{margin-left:41.6667%!important;}
.col-xs-offset-6,.col-sm-offset-6,.col-md-offset-6,.col-lg-offset-6{margin-left:50%!important;}
.col-xs-offset-7,.col-sm-offset-7,.col-md-offset-7,.col-lg-offset-7{margin-left:58.3333%!important;}
.col-xs-offset-8,.col-sm-offset-8,.col-md-offset-8,.col-lg-offset-8{margin-left:66.6667%!important;}
.col-xs-offset-9,.col-sm-offset-9,.col-md-offset-9,.col-lg-offset-9{margin-left:75%!important;}
.col-xs-offset-10,.col-sm-offset-10,.col-md-offset-10,.col-lg-offset-10{margin-left:83.3333%!important;}
.col-xs-offset-11,.col-sm-offset-11,.col-md-offset-11,.col-lg-offset-11{margin-left:91.6667%!important;}
.col-xs-offset-12,.col-sm-offset-12,.col-md-offset-12,.col-lg-offset-12{margin-left:100%!important;}
.modal-dialog {margin: 30px auto;width: 600px;}
.form-inline .form-group{display: inline-block; margin-bottom: 0;vertical-align: middle;}
.form-horizontal .control-label{text-align:right;}
.ie-select1{width:200px;}
.ie-select1 .checkbox{width:80px; float:left; text-align:center;}
.ie-select1 .form-control{width:120px; float:right;}
.ie-w100,.ie-header1,.ie-header2,.ie-nav4{width:100%!important;}
.ie-header1 .checkbox,.ie-header5 .checkbox{width:65px; float:left; text-align:center;}
.ie-header1 .form-control,.ie-header5 .form-control{width:150px; float:left;}
.ie-header2 .form-group{width:200px; float:left;}
.ie-header2 .form-group label{width:80px; float:left; padding-top:6px; text-align:right;}
.ie-header2 .form-group .form-control{width:120px; float:left;}
.ie-nav4 li{width:24.5%;float:left;}
.ie-maintenance-tab{height:50px; padding-bottom:10px; margin-left:230px;}
.ie-maintenance-tab .form-control,.ie-fault .form-control,.ie-syslog .form-control,.ie-snmpTrap .form-control{width:150px; float:left;}
.ie-maintenance-tab .checkbox{width:40px; float:left;}
.ie-maintenance-tab .btn,.ie-fault .btn,.ie-syslog .btn,.ie-snmpTrap .btn{float:left;}
.ie-fault,.ie-syslog,.ie-snmpTrap{height:50px; padding-bottom:10px; margin-left:350px;}
.ie-header3 .row .col-xs-3 .form-control{width:100%!important;}
.ie-header3 .row .form-control-static{width:85px; float:left; text-align:center;}
.ie-header3 .row .col-xs-3 .ie-jg{width:150px!important; float:left;}
.ie-header3 .history-search .checkbox{width:80px; float:left;}
.ie-header3 .history-search .form-control{width:180px; float:left;}
.ie-header3 .history-search .mt10,.ie-header4 .mb10{width:1000px!important; float:clear; height:40px;}
.ie-header3 .history-search .checkbox{width:75px!important;float:left; text-align:right; padding-right:5px;}
.ie-header3 .history-search .ie-to,.ie-header4 .mb10 .ie-to,.ie-header1 .ie-to{width:35px!important;text-align:center;}
.ie-header4 .mb10{width:100%!important;}
.ie-header4 .checkbox{width:90px!important; float:left; text-align:right;}
.ie-header4 .form-control{width:150px!important; float:left;}
.ie-w90{width:90px!important;}
.raty .dl-horizontal dt{float:left; width: 160px; text-align:right;}
.news_setup .dl-horizontal dt{width: 110px; float: left; text-align:right;}
.ie-news-setup-radio .radio{float:left; width:70px; overflow:hidden; margin:0;}
.ie-news-setup-radio span{width:70px; float:left;}
.main-header .navbar-custom-menu{right:10px;}